body {
    background-color: #fff4fe;
}
h2 {
    height: 50px;
}

a {
    text-decoration: none;
    font-size: large;
    color: rgb(239, 239, 239);
}

.twitter {
    background-color: rgb(4, 4, 37);
}

.bluesky {
    background-color: #1185FE;
}

.misskey {
    background-color: rgb(25, 35, 32);
}

.discord {
    background-color: #313338;
}

.steam {
    background-color: #192B3D;
}

.vrchat {
    background-color: #07242B;
}


.blog-zin3 {
    background-color: #707070;
}

.blog-sub {
    background-color: #232325;
}

.github {
    background-color: #010409;
}

.gitlab {
    background-color: #FFFFFF;
}
.gitlab a {
    color: black;
}

.keyoxide {
    background-color: #1A1A1A;
}