:root {
	background-color: #fff4fe;
	font-family: 'Noto Sans JP', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

:root h2 {
	height: 50px;
}

:root a {
	text-decoration: none;
	font-size: large;
	color: rgb(239, 239, 239);
}

.twitter {
	background-color: rgb(4, 4, 37);
}

.bluesky {
	background-color: #1185fe;
}

.misskey {
	background-color: rgb(25, 35, 32);
}

.discord {
	background-color: #313338;
}

.steam {
	background-color: #192b3d;
}

.vrchat {
	background-color: #07242b;
}

.blog-zin3 {
	background-color: #707070;
}

.blog-sub {
	background-color: #232325;
}

.github {
	background-color: #010409;
}

.gitlab {
	background-color: #ffffff;
}

.gitlab a {
	color: black;
}

.keyoxide {
	background-color: #1a1a1a;
}

.ulo {
	background-color: #6234e0;
}

.ulo a {
	color: white;
}

.unipostor {
	background-color: #3ab55d;
}

.unipostor a {
	color: white;
}

.poe-plus {
	background-color: #ff9500;
}

.poe-plus a {
	color: white;
}

.domain-list {
	background-color: #3553e8;
}

.domain-list a {
	color: white;
}

.nostr {
	background-color: #9e3beb;
	color: black;
}